/**	phpLogger - the php logging engine

*	@package phpLogger
*	@subpackage phpLogger_interface
*	@version 1.01 $Revision: 419 $

*	@author	Roman Matthias Keil
*	@copyright: Roman Matthias Keil

*/

html {
	height: 100%;
	margin-bottom: 1px;
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background-color: #141414;
	font: 10pt Helvetica, sans-serif;
	color: #fff;
}

h1 {
	padding: 1ex;
	margin: 0;
	margin-bottom: 1ex;
	color: #96a2a9;
	background-color: #454545;
	font-size: 24pt;
	font-weight: normal;
	font-variant: small-caps;
	border-bottom: #d80000 1px solid;
}

#content {
	margin: 5ex;
	padding: 0ex;
	margin-bottom: 2ex;
	margin-top: 2ex;
	background-color: #666;
	margin-top: 2ex;
}

#menue {
	margin: 0;
	margin-left: 5ex;
	margin-top: 4ex;
	padding: 0;
	height: 2ex;
	list-style: none;
}

#menue li {
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 1ex;
	padding-right: 1ex;
}

#menue a {
	color: #96a2a9;
	text-decoration: none;
}

#menue a:hover {
	text-decoration: underline;
}

#menue a.current {
	text-decoration: underline;
}

#footline {
	margin: 5ex;
	margin-top: 2ex;
	padding: 0;
}

#footline p {
	font: 8pt Helvetica, sans-serif;
	color: #fff;
}

a {
	color: #fff;
}

.red {
	color: #d80000;
}